* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@-webkit-keyframes showing {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showing {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  margin: 0; }

#container {
  height: 100vh;
  background-size: cover; }

#canvas1 {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  border: solid black 1px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 25px #d8cdcf;
          box-shadow: 1px 1px 25px #d8cdcf;
  opacity: 0; }

#background {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3; }

.menuWindow {
  width: 400px;
  height: 440px; }

.mainmenu__list {
  display: inline-block;
  width: 100%;
  height: 100%; }
  .mainmenu__list li {
    text-align: center;
    margin: 33px 0px; }

a {
  text-decoration: none;
  color: white;
  font-family: 'RUSNeverwinter';
  font-size: 40px;
  text-shadow: 1px 1px 7px #b955f3;
  -webkit-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s; }
  a:visited {
    color: white; }
  a:hover {
    text-shadow: 1px 1px 25px red;
    color: #ec1c1c; }

.rules__text {
  font-family: RUSNeverwinter;
  font-size: 27px;
  text-align: center;
  padding: 16px;
  margin-top: 10px;
  color: #ec1c1c;
  text-shadow: 1px 1px 8px black;
  background-color: #0000004a;
  border-radius: 10px; }

.users {
  width: 100%;
  height: 100%;
  background-color: #0000004a;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px; }
  .users li {
    padding: 12px 0px 0px 10px; }

.name {
  display: inline-block;
  width: 70%;
  font-family: 'RUSNeverwinter';
  font-size: 28px;
  color: #ec1c1c;
  text-shadow: 1px 1px 8px black;
  padding-left: 35px;
  letter-spacing: 5px; }

.points {
  font-family: RUSNeverwinter;
  font-size: 28px;
  color: #000000;
  text-shadow: 0px 0px 6px #fff;
  width: 25%;
  display: inline-block;
  text-align: left;
  letter-spacing: 5px;
  font-weight: bold; }

.new__game, .continue, .sound {
  cursor: pointer; }

.show {
  z-index: 4; }

.getName-page {
  text-align: center;
  padding: 16px;
  margin-top: 10px;
  background-color: #0000004a;
  border-radius: 10px;
  height: 230px; }
  .getName-page p {
    font-family: RUSNeverwinter;
    font-size: 40px;
    text-align: center;
    color: #ec1c1c;
    text-shadow: 1px 1px 8px black; }
  .getName-page input {
    border: solid red 1px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 8px black;
            box-shadow: 1px 1px 8px black;
    font-family: RUSNeverwinter;
    font-size: 35px;
    margin: 30px 0px;
    background-color: #ffffff73 !important;
    text-shadow: 0px 0px 6px #b955f3; }
  .getName-page a {
    width: 100%;
    display: inline-block; }

.addLeader-page {
  text-align: center;
  padding: 16px;
  background-color: #0000004a;
  border-radius: 10px;
  height: 315px; }
  .addLeader-page p {
    font-family: RUSNeverwinter;
    font-size: 40px;
    text-align: center;
    color: #ec1c1c;
    text-shadow: 1px 1px 8px black;
    margin-bottom: 35px; }
    .addLeader-page p span {
      display: inline-block;
      width: 100%;
      color: #a61cec;
      text-shadow: 1px 1px 7px black; }
